.class_upload{
    display: inline-block;
    margin-left: 1135px;
}
.class_top{
    display: inline-block;
}
.class_bottom{
    height: 20px;
}
.blankpic{
    width: 1440px;
    height: 610px;
}
.file .icon, .file .image123 {
    height: 600px !important;
    width: 1500px;
}
.zzq_inline{
    display: inline-block;
}
.setpic{
    height: 80px;
    width: 80px;
}
.nav_left_big_font{
    font-size: 20px;
}
.nav_left_small_font{
    font-size: 16px;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.suojin{
    margin-left: -15px;
}
.input_zzq{
    margin-top: -5px;
    margin-left: -72px;
}
.zzq_xuenian{
    margin-top: -30px;
}