<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tutu.edu.student.mapper.read.base.StudentExamBaseReadMapper">


    <resultMap type="com.tutu.edu.student.model.StudentExam" id="StudentExamMap">
        <result property="id" column="id"/>
        <result property="courseId" column="course_id"/>
        <result property="studentId" column="student_id"/>
        <result property="score" column="score"/>
        <result property="dataCreate" column="data_create"/>
        <result property="dataModified" column="data_modified"/>
    </resultMap>


    <select id="queryStudentExam" resultMap="StudentExamMap">
        select
        <include refid="baseResult"></include>
        from  `student_exam`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="courseId != null">
                `course_id` = #{courseId} and
            </if>
            <if test="studentId != null">
                `student_id` = #{studentId} and
            </if>
            <if test="score != null">
                `score` = #{score} and
            </if>
            <if test="dataCreate != null">
                `data_create` = #{dataCreate} and
            </if>
            <if test="dataModified != null">
                `data_modified` = #{dataModified} and
            </if>
            <if test = "(_parameter instanceof com.tutu.edu.student.model.StudentExam$QueryBuilder) == true">
                <if test="idList != null">
                    `id` in
                    <foreach collection="idList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="idSt !=null">
                    `id` >= #{idSt} and
                </if>
                <if test="idEd!=null">
                    `id` &lt;= #{idEd} and
                </if>
                <if test="courseIdList != null">
                    `course_id` in
                    <foreach collection="courseIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="courseIdSt !=null">
                    `course_id` >= #{courseIdSt} and
                </if>
                <if test="courseIdEd!=null">
                    `course_id` &lt;= #{courseIdEd} and
                </if>
                <if test="studentIdList != null">
                    `student_id` in
                    <foreach collection="studentIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="studentIdSt !=null">
                    `student_id` >= #{studentIdSt} and
                </if>
                <if test="studentIdEd!=null">
                    `student_id` &lt;= #{studentIdEd} and
                </if>
                <if test="scoreList != null">
                    `score` in
                    <foreach collection="scoreList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="scoreSt !=null">
                    `score` >= #{scoreSt} and
                </if>
                <if test="scoreEd!=null">
                    `score` &lt;= #{scoreEd} and
                </if>
                <if test="dataCreateList != null">
                    `data_create` in
                    <foreach collection="dataCreateList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="dataCreateSt !=null">
                    `data_create` >= #{dataCreateSt} and
                </if>
                <if test="dataCreateEd!=null">
                    `data_create` &lt;= #{dataCreateEd} and
                </if>
                <if test="dataModifiedList != null">
                    `data_modified` in
                    <foreach collection="dataModifiedList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="dataModifiedSt !=null">
                    `data_modified` >= #{dataModifiedSt} and
                </if>
                <if test="dataModifiedEd!=null">
                    `data_modified` &lt;= #{dataModifiedEd} and
                </if>
            </if>
        </trim>
    </select>

    <select id="queryStudentExamLimit1" resultMap="StudentExamMap">
        select
        <include refid="baseResult"></include>
        from  `student_exam`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="courseId != null">
                `course_id` = #{courseId} and
            </if>
            <if test="studentId != null">
                `student_id` = #{studentId} and
            </if>
            <if test="score != null">
                `score` = #{score} and
            </if>
            <if test="dataCreate != null">
                `data_create` = #{dataCreate} and
            </if>
            <if test="dataModified != null">
                `data_modified` = #{dataModified} and
            </if>
            <if test = "(_parameter instanceof com.tutu.edu.student.model.StudentExam$QueryBuilder) == true">
                    <if test="idList != null">
                        `id` in
                        <foreach collection="idList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="idSt !=null">
                    `id` >= #{idSt} and
                </if>
                <if test="idEd!=null">
                    `id` &lt;= #{idEd} and
                </if>
                    <if test="courseIdList != null">
                        `course_id` in
                        <foreach collection="courseIdList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="courseIdSt !=null">
                    `course_id` >= #{courseIdSt} and
                </if>
                <if test="courseIdEd!=null">
                    `course_id` &lt;= #{courseIdEd} and
                </if>
                    <if test="studentIdList != null">
                        `student_id` in
                        <foreach collection="studentIdList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="studentIdSt !=null">
                    `student_id` >= #{studentIdSt} and
                </if>
                <if test="studentIdEd!=null">
                    `student_id` &lt;= #{studentIdEd} and
                </if>
                    <if test="scoreList != null">
                        `score` in
                        <foreach collection="scoreList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="scoreSt !=null">
                    `score` >= #{scoreSt} and
                </if>
                <if test="scoreEd!=null">
                    `score` &lt;= #{scoreEd} and
                </if>
                    <if test="dataCreateList != null">
                        `data_create` in
                        <foreach collection="dataCreateList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="dataCreateSt !=null">
                    `data_create` >= #{dataCreateSt} and
                </if>
                <if test="dataCreateEd!=null">
                    `data_create` &lt;= #{dataCreateEd} and
                </if>
                    <if test="dataModifiedList != null">
                        `data_modified` in
                        <foreach collection="dataModifiedList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="dataModifiedSt !=null">
                    `data_modified` >= #{dataModifiedSt} and
                </if>
                <if test="dataModifiedEd!=null">
                    `data_modified` &lt;= #{dataModifiedEd} and
                </if>
            </if>
        </trim>
        limit 1
    </select>

    <sql id="allResult">
        <trim suffixOverrides=",">
        `id`,
        `course_id`,
        `student_id`,
        `score`,
        `data_create`,
        `data_modified`,
        </trim>
    </sql>



    <sql id="baseResult">
        <trim suffixOverrides=",">
            <if test = "(_parameter instanceof com.tutu.edu.student.model.StudentExam$QueryBuilder) == true">

                <if test="fetchFields==null">
                    <include refid="allResult"></include>
                </if>
                <if test="fetchFields!=null">
                    <if test="fetchFields.AllFields !=null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields ==null and fetchFields.fetchFields==null and fetchFields.excludeFields==null and fetchFields.otherFields==null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.fetchFields!=null">
                    <if test="fetchFields.fetchFields.id==true">
                        `id`,
                    </if>
                    <if test="fetchFields.fetchFields.courseId==true">
                        `course_id`,
                    </if>
                    <if test="fetchFields.fetchFields.studentId==true">
                        `student_id`,
                    </if>
                    <if test="fetchFields.fetchFields.score==true">
                        `score`,
                    </if>
                    <if test="fetchFields.fetchFields.dataCreate==true">
                        `data_create`,
                    </if>
                    <if test="fetchFields.fetchFields.dataModified==true">
                        `data_modified`,
                    </if>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.excludeFields!=null">
                    <if test="fetchFields.excludeFields.id==null">
                        `id`,
                    </if>
                    <if test="fetchFields.excludeFields.courseId==null">
                        `course_id`,
                    </if>
                    <if test="fetchFields.excludeFields.studentId==null">
                        `student_id`,
                    </if>
                    <if test="fetchFields.excludeFields.score==null">
                        `score`,
                    </if>
                    <if test="fetchFields.excludeFields.dataCreate==null">
                        `data_create`,
                    </if>
                    <if test="fetchFields.excludeFields.dataModified==null">
                        `data_modified`,
                    </if>
                    </if>
                    <if test="fetchFields.otherFields!=null and fetchFields.otherFields.size>0">
                        <foreach collection="fetchFields.otherFields" index="index" item="item" separator=",">
                        `#{item}`
                        </foreach>
                    </if>
                </if>
            </if>
            <if test="(_parameter instanceof com.tutu.edu.student.model.StudentExam$QueryBuilder) == false" >
                <include refid="allResult"></include>
            </if>

        </trim>
    </sql>



</mapper>