<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tutu.edu.student.mapper.read.base.StuGroup relationBaseReadMapper">


    <resultMap type="com.tutu.edu.student.model.StuGroup relation" id="StuGroup relationMap">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="time" column="time"/>
        <result property="reason" column="reason"/>
        <result property="dataCreate" column="data_create"/>
        <result property="dataModified" column="data_modified"/>
    </resultMap>


    <select id="queryStuGroup relation" resultMap="StuGroup relationMap">
        select
        <include refid="baseResult"></include>
        from  `stu_group_ relation`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="userId != null">
                `user_id` = #{userId} and
            </if>
            <if test="time != null">
                `time` = #{time} and
            </if>
            <if test="reason != null and reason!=''">
                `reason` = #{reason} and
            </if>
            <if test="dataCreate != null">
                `data_create` = #{dataCreate} and
            </if>
            <if test="dataModified != null">
                `data_modified` = #{dataModified} and
            </if>
            <if test = "(_parameter instanceof com.tutu.edu.student.model.StuGroup relation$QueryBuilder) == true">
                <if test="idList != null">
                    `id` in
                    <foreach collection="idList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="idSt !=null">
                    `id` >= #{idSt} and
                </if>
                <if test="idEd!=null">
                    `id` &lt;= #{idEd} and
                </if>
                <if test="userIdList != null">
                    `user_id` in
                    <foreach collection="userIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="userIdSt !=null">
                    `user_id` >= #{userIdSt} and
                </if>
                <if test="userIdEd!=null">
                    `user_id` &lt;= #{userIdEd} and
                </if>
                <if test="timeList != null">
                    `time` in
                    <foreach collection="timeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="timeSt !=null">
                    `time` >= #{timeSt} and
                </if>
                <if test="timeEd!=null">
                    `time` &lt;= #{timeEd} and
                </if>
                <if test="reasonList != null">
                    `reason` in
                    <foreach collection="reasonList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyReason!=null and fuzzyReason.size()>0">
                    (
                    <foreach collection="fuzzyReason"  separator="or" item="item">
                        `Reason` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyReason!=null and rightFuzzyReason.size()>0">
                    (
                    <foreach collection="rightFuzzyReason"  separator="or" item="item">
                        `Reason` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="dataCreateList != null">
                    `data_create` in
                    <foreach collection="dataCreateList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="dataCreateSt !=null">
                    `data_create` >= #{dataCreateSt} and
                </if>
                <if test="dataCreateEd!=null">
                    `data_create` &lt;= #{dataCreateEd} and
                </if>
                <if test="dataModifiedList != null">
                    `data_modified` in
                    <foreach collection="dataModifiedList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="dataModifiedSt !=null">
                    `data_modified` >= #{dataModifiedSt} and
                </if>
                <if test="dataModifiedEd!=null">
                    `data_modified` &lt;= #{dataModifiedEd} and
                </if>
            </if>
        </trim>
    </select>

    <select id="queryStuGroup relationLimit1" resultMap="StuGroup relationMap">
        select
        <include refid="baseResult"></include>
        from  `stu_group_ relation`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="userId != null">
                `user_id` = #{userId} and
            </if>
            <if test="time != null">
                `time` = #{time} and
            </if>
            <if test="reason != null and reason!=''">
                `reason` = #{reason} and
            </if>
            <if test="dataCreate != null">
                `data_create` = #{dataCreate} and
            </if>
            <if test="dataModified != null">
                `data_modified` = #{dataModified} and
            </if>
            <if test = "(_parameter instanceof com.tutu.edu.student.model.StuGroup relation$QueryBuilder) == true">
                    <if test="idList != null">
                        `id` in
                        <foreach collection="idList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="idSt !=null">
                    `id` >= #{idSt} and
                </if>
                <if test="idEd!=null">
                    `id` &lt;= #{idEd} and
                </if>
                    <if test="userIdList != null">
                        `user_id` in
                        <foreach collection="userIdList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="userIdSt !=null">
                    `user_id` >= #{userIdSt} and
                </if>
                <if test="userIdEd!=null">
                    `user_id` &lt;= #{userIdEd} and
                </if>
                    <if test="timeList != null">
                        `time` in
                        <foreach collection="timeList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="timeSt !=null">
                    `time` >= #{timeSt} and
                </if>
                <if test="timeEd!=null">
                    `time` &lt;= #{timeEd} and
                </if>
                    <if test="reasonList != null">
                        `reason` in
                        <foreach collection="reasonList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyReason!=null and fuzzyReason.size()>0">
                    (
                    <foreach collection="fuzzyReason"  separator="or" item="item">
                        `Reason` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyReason!=null and rightFuzzyReason.size()>0">
                    (
                    <foreach collection="rightFuzzyReason"  separator="or" item="item">
                        `Reason` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="dataCreateList != null">
                        `data_create` in
                        <foreach collection="dataCreateList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="dataCreateSt !=null">
                    `data_create` >= #{dataCreateSt} and
                </if>
                <if test="dataCreateEd!=null">
                    `data_create` &lt;= #{dataCreateEd} and
                </if>
                    <if test="dataModifiedList != null">
                        `data_modified` in
                        <foreach collection="dataModifiedList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="dataModifiedSt !=null">
                    `data_modified` >= #{dataModifiedSt} and
                </if>
                <if test="dataModifiedEd!=null">
                    `data_modified` &lt;= #{dataModifiedEd} and
                </if>
            </if>
        </trim>
        limit 1
    </select>

    <sql id="allResult">
        <trim suffixOverrides=",">
        `id`,
        `user_id`,
        `time`,
        `reason`,
        `data_create`,
        `data_modified`,
        </trim>
    </sql>



    <sql id="baseResult">
        <trim suffixOverrides=",">
            <if test = "(_parameter instanceof com.tutu.edu.student.model.StuGroup relation$QueryBuilder) == true">

                <if test="fetchFields==null">
                    <include refid="allResult"></include>
                </if>
                <if test="fetchFields!=null">
                    <if test="fetchFields.AllFields !=null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields ==null and fetchFields.fetchFields==null and fetchFields.excludeFields==null and fetchFields.otherFields==null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.fetchFields!=null">
                    <if test="fetchFields.fetchFields.id==true">
                        `id`,
                    </if>
                    <if test="fetchFields.fetchFields.userId==true">
                        `user_id`,
                    </if>
                    <if test="fetchFields.fetchFields.time==true">
                        `time`,
                    </if>
                    <if test="fetchFields.fetchFields.reason==true">
                        `reason`,
                    </if>
                    <if test="fetchFields.fetchFields.dataCreate==true">
                        `data_create`,
                    </if>
                    <if test="fetchFields.fetchFields.dataModified==true">
                        `data_modified`,
                    </if>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.excludeFields!=null">
                    <if test="fetchFields.excludeFields.id==null">
                        `id`,
                    </if>
                    <if test="fetchFields.excludeFields.userId==null">
                        `user_id`,
                    </if>
                    <if test="fetchFields.excludeFields.time==null">
                        `time`,
                    </if>
                    <if test="fetchFields.excludeFields.reason==null">
                        `reason`,
                    </if>
                    <if test="fetchFields.excludeFields.dataCreate==null">
                        `data_create`,
                    </if>
                    <if test="fetchFields.excludeFields.dataModified==null">
                        `data_modified`,
                    </if>
                    </if>
                    <if test="fetchFields.otherFields!=null and fetchFields.otherFields.size>0">
                        <foreach collection="fetchFields.otherFields" index="index" item="item" separator=",">
                        `#{item}`
                        </foreach>
                    </if>
                </if>
            </if>
            <if test="(_parameter instanceof com.tutu.edu.student.model.StuGroup relation$QueryBuilder) == false" >
                <include refid="allResult"></include>
            </if>

        </trim>
    </sql>



</mapper>